.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    color: #B4D3B2;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: white;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 52px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }

  .site-layout{
      margin-left: auto;
  }

  .ant-layout .ant-layout-sider {
    background-color:#242526;
  }
  .ant-layout-header{
    background-color:#242526;
  }

  .ant-menu-dark{
    background-color:#242526;
  }

  .ant-layout{
    background-color:#242526
  }